@charset "UTF-8";

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
   	font-family: 'Newsreader';
   	src: url(https://fonts.gstatic.com/s/newsreader/v20/cY9VfjOCX1hbuyalUrK49dLafXjalZCsZBsgBgbNJYQ.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
}
/* 공통 스타일 */
*{margin: 0; padding: 0; font-family: 'NanumSquareRound';}
ul li{list-style: none;}
a{text-decoration: none; color: black;}

/* ==================================================================================================== */
/*                          header 스타일                                                   */
/* ==================================================================================================== */

header{
	width: 100%;
	margin : 0 auto;
	position: relative
}
header #welcome{
	text-align: center;
	border-bottom: 1px solid black;
	
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 10; /* 다른 컨텐츠 위에 위치하도록 */
    transition: transform 0.3s ease-out;
}
header #welcome p{
	padding: 10px 0;
	font-size: 13px;
	background-color: rgba(255, 255, 255, 0.5);
}
header #topMenu{
	display: flex;
	width: 100%;
	position: fixed; /* 상단에 고정 */
    top: 39px; /* 상단메뉴 위치 초기값(welcome 문구 아래) */
    width: 100%;
    z-index: 999;
    transition: top 0.3s ease-in-out;
}
header #mainMenu{
	flex-grow: 1; /* sideMenu의 고정가로길이 270px 외의 나머지 공간에 mainMenu 가로 길이가 꽉 참. 웹상의 가로 길이에 따라 가로길이 조정됨 */
	line-height: 60px;
	background-color: rgba(255, 255, 255, 0.5);
}
header #mainMenu ul{
	display: flex;
	justify-content: space-around;
}
header #mainMenu ul li a{
	font-size: 20px;
	color: black;
}
header #sideMenu{
	width: 285px;
	background-color: rgba(255, 255, 255, 0.5);
}
header #sideMenu ul{
	line-height: 20px;
	display: flex;
	justify-content: flex-end;
}
header #sideMenu li{
	font-size: 13px;
	width: 95px;
}
header #sideMenu li a{
	display:flex;
	justify-content: center;
}
header #sideMenu li i{
	line-height: 20px;
}
header #sideMenu #sideMenu_1 a{
	padding-top: 10px;
}
header #sideMenu #sideMenu_2 a{
	padding-bottom: 10px;
}

/* header 스타일 - 하위 카테고리 */
header #mainMenu ul ul{
	flex-direction: column;
	position: absolute;
}
header #mainMenu .test{
	display: none;
	transition: all 0.3s;
}
header #mainMenu ul ul li{
	line-height: 42px;
}
header #mainMenu ul ul li a{
	color: rgb(158, 156, 163);
}
header ul  ul #a_1{
	padding-left: 40px;
}
header ul  ul #a_2{
	padding-left: 20px;
}
#bottomMenu {
    display: none; 
    width: 100%;
    height: 174px;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    left: 0; 
    top: 100px; /* 기본위치 : 상단문구 아래*/
    z-index: 998;
    transition: all 0.1s;
}
header #mainMenu ul li a:hover {
    font-style: italic;
    text-decoration: underline;
}
header #mainMenu ul ul a:hover{
	color: black;
}
header #sideMenu a:hover{
	font-style: italic;
    text-decoration: underline;
}

/* ==================================================================================================== */
/*                          footer 스타일                                                   */
/* ==================================================================================================== */

footer{
	width: 97%;
	line-height: 70px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
footer p{
    flex: 1;
    font-size: 30px;
    text-align: center;
}
footer a{
	font-size: 15px;
}
footer li{
	margin: 0 5px;
}
#footerMenu_left, #footerMenu_right{
    display: flex;
}
#footerMenu_left{
    width: 40%;
}
#footerMenu_right{
    width: 40%;
    justify-content: flex-end;
}

@media screen and (max-width: 1024px) {
	footer p{
		font-size : 3vw;
	}
	footer a{
		font-size: 1.5vw;
	}
}

/* ==================================================================================================== */
/*                          main 스타일                                                   */
/* ==================================================================================================== */

#main #main_img{
	width: 100%;
	height: 560px;
	position: relative;
}
#main #main_img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* main 스타일 - 도트 슬라이드 */
#main #main_img #dots{
	width: 100px;
	display: flex;
	justify-content: space-between;
	position: absolute; /* 절대 위치 설정 */
    bottom: 10px; /* 하단에서의 거리 */
    left: 0; /* 왼쪽에서의 시작 위치 */
    right: 0; /* 오른쪽에서의 시작 위치 */
    margin: auto; /* 자동 마진으로 가운데 정렬 */
}
#main #main_img #dots .dot{
	width: 17px;
	height: 17px;
	display: inline-block;
	border-radius: 100%;
	background-color: rgba(135, 133, 133, 0.5);
}
#main #main_img #dots .dot_active{
	width: 40px;
	height: 17px;
	display: inline-block;
	border-radius: 15px;
	background-color: #F5F5F5;
}
@media screen and (max-width: 1024px) {
	#main #main_img #dots{
		width: 10vw;
	}
	#main #main_img #dots .dot{
		width: 1.8vw;
		height: 1.8vw;
	}
	#main #main_img #dots .dot_active{
		width: 3.7vw;
		height: 1.8vw;
	}
}

/* main 스타일 - 검색창 */
#search_currency{
	width: 97%;
	margin:15px auto;
	display: flex;
	justify-content: space-between;
}
.search-box {
	width: 285px;
	height: 30px;
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, rgb(210, 210, 210), rgb(253, 253, 253) );
    border-radius: 20px;
    padding: 5px 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.search-input {
    border: none; /* 테두리 제거 */
    background-color: transparent; /* 배경색 투명 */
    margin-right: 10px; /* 검색 아이콘과의 간격 설정 */
    outline: none; /* 선택됐을 때 테두리 없애기 */
    flex-grow: 1; /* 남은 공간 채우기 */
}
.search-button {
    background: none; /* 배경색 흰색 -> 투명 */
    border: none;
    cursor: pointer; /* 마우스 오버 시 포인터 모양 변경 */
    outline: none; /* 선택됐을 때 테두리 없애기 */
}
.search-button img{
	width: 22px;
	height: 22px;
}

/* main 스타일 - 환율창 */
#currency_box{
	width:800px;
	height: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#currency_box p{
	font-size: 16px;
	padding: 10px;
}

/* main 스타일 - 문구창 */
#main_phrase{
	width: 85%;
	margin:24.5vw auto 35vw auto;
}
#main_phrase p{
	color: #338BA7;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-size: 5.8vw;
	font-weight: 500;
	font-family: Newsreader;
}
@media screen and (max-width: 1440px) {
	#main_phrase{
		margin:20vw auto 28vw auto;
	}
}

/* main 스타일 - 사진 */
#main_pictures.active {
    cursor: grabbing;
}
#main_pictures{
	width: 98%;
	height: 37vw;
	margin: 0 auto;
	display: flex;
	/*justify-content: space-evenly;*/
	overflow-x: hidden; /* 수평 스크롤 숨김 */
	/*scroll-snap-type: x mandatory;*/ /* 스크롤 스냅 활성화 */
	/*cursor: grab;*/
}
#main_pictures div{
	/*width: 29vw;
	height: 35vw;*/
	
	background-color: rgb(228, 228, 228);
	filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.25));
	
	flex: 0 0 30.5vw; 
    height: 35vw; 
    margin-right: 2vw; 
    
    /*scroll-snap-align: start;*/ /* 스크롤 스냅 정렬 */
    
}
#main_pictures div img{
	width: 25vw;
	height: 26vw;
	margin: 7% 7%;
	filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.25));
}
#main_pictures div p{
	margin: 0 7%;
}
/* main 스타일 - 커뮤니티 */
#main_community{
	width: 98%;
	height: 36vw;
	margin: 170px auto 230px auto;
}
#main_community img{
	width: 32px;
	height: 32px;
	float: left;
}
#main_community #main_community_title{
	margin: 10px 0px 10px 10px;
	font-size: 32px;
}
#main_community #main_community_box{
	width: 33.3%;
	height: 32.5vw;
	float: left;
	background-color: #CAC8C8;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	border-width : 1px solid rgb(160, 160, 163);
}

#main_community .main_community_content_title{
	font-size: 25px;
	text-align: center;
	color: #646161;
	margin-top: 15px;
}
#main_community .main_community_content{
	width: 85%;
	height: 35%;
	margin: 10px auto;
	border-bottom: 1px solid black;
}
#main_community .main_community_content h3{
	font-size: 21px;
	padding-bottom: 10px;
}
#main_community #main_community_boxes p{
	line-height: 1.8;
}
#main_community #main_community_boxes p a{
	font-size: 19px;
	color: black;
	/* 문자가 넘치는 부분은 숨기고, 끝에 "..." 표시 */
	display: block; /* 블록 요소로 만들기 */
    white-space: nowrap; /* 텍스트를 한 줄로 만들기 */
    overflow: hidden; /* 내용이 넘치면 숨기기 */
    text-overflow: ellipsis; /* 넘친 텍스트를 ...로 표시 */
    max-width: 100%; /* 최대 너비 설정 */
}
#main_community #main_community_box #main_community_content_bottom{ /* 아래 main_community_content의 border-bottom 없애기*/
	border: none;
	padding-top: 10px;
}
#main_community #main_community_boxes p a:hover{
	font-style: italic;
    text-decoration: underline;
}
@media screen and (max-width: 1440px) {
	#main_community .main_community_content_title{
		font-size: 1.75vw;
		margin-top: 15px;
	}
	#main_community .main_community_content h3{
		font-size: 1.45vw;
		padding-bottom: 10px;
	}
	#main_community #main_community_boxes p a{
		font-size: 1.35vw;
	}
}
@media screen and (max-width: 1440px) {
	#main_community img{
		width: 2.5vw;
		height: 2.5vw;
		float: left;
	}
	#main_community #main_community_title p{
		font-size: 2.5vw;
	}
}

/* ==================================================================================================== */
/*                          joinform01 스타일                                                   */
/* ==================================================================================================== */

#joinform01 #joinform01_box{
	width: 755px;
	height: 930px;
	border-radius: 5px;
	border: 1px solid #E0E0E0;
	margin: 200px auto 150px auto;
}
#joinform01 #joinform01_box h2{
	font-size: 24px;
	text-align: center;
	padding: 35px 0;
}
#joinform01 #joinform01_box .joinform01_checkbox{
	width: 675px;
	margin: 30px auto 12px auto ;
	display: flex;
	align-items: center;
}
#joinform01 #joinform01_box p{
	font-size: 14px;
	padding: 0 7px;
}
#joinform01 #joinform01_box .essential{
	font-size: 15px;
	color: #F84A71;
}
#joinform01 #joinform01_box .joinform01_contentBox{
	width: 655px;
	height: 105px;
	margin: 0 auto;
	padding: 10px 10px 0 10px;
	border-radius: 3px;
	border: 1px solid #DFDFDF;
	overflow: auto; /* 스크롤바 */
	white-space: pre-line;
}
#joinform01 button {
	font-size: 16px;
	width: 180px;
	height: 50px;
    background: linear-gradient(to bottom, rgb(210, 210, 210), rgb(253, 253, 253) );
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: block;
	margin: 40px auto 0 auto;
	border: none;
	transition: all 1s;
}
#joinform01 button:hover {
    background: linear-gradient(to bottom, rgb(200, 200, 200), rgb(243, 243, 243));
    cursor: pointer;
}

#joinform01 #joinform01_box > .joinform01_checkbox:nth-of-type(1) {
	margin: 0 auto ;
}

#joinform01 input[type="checkbox"] {
	accent-color: rgb(134, 134, 134);
	color: white;
}

/* ==================================================================================================== */
/*                          joinform02 스타일                                                   */
/* ==================================================================================================== */
#joinform02 #joinform02_box{
	width: 590px;
	height: 620px;
	border-radius: 5px;
	border: 1px solid #E0E0E0;
	margin: 200px auto 150px auto;
}
#joinform02 #joinform02_box h2{
	font-size: 24px;
	text-align: center;
	padding: 35px 0 30px 0;
}
#joinform02  ul li{
	margin: 20px 20px 20px 30px;
}
#joinform02 label{
	width: 120px;
	font-size: 14px;
	line-height: 37px;
	float: left; 
	padding-left: 20px;
}
#joinform02  input{
	padding: 10px 15px;
	width: 320px;
	height: 16px;
	font-size: 12px;
	border-radius: 3px;
	border: 1px solid rgb(196, 196, 196);
}
#joinform02 #email, #domain-txt{
	width: 75px !important;
	font-size: 12px;
}
#joinform02 #domain-list{
	width: 109px;
	height: 37.5px;
	font-size: 12px;
	color:rgb(117, 117, 117);
	padding: 10px 15px;
	border-radius: 3px;
	border: 1px solid rgb(196, 196, 196);
}
#joinform02 span{
	font-size: 14px;
	padding:  0 0 0 5px;
}
#joinform02 #birth-year, #birth-month, #birth-day{
	width: 100px;
	height: 37px;
	font-size: 12px;
	color:rgb(117, 117, 117);
	padding: 9px 12px;
	border-radius: 3px;
	border: 1px solid rgb(196, 196, 196);
}
#joinform02 #gender {
	width: 20px;
	line-height: 37px;
	float: left;
}
#joinform02 #gender-option{
	height: 37px;
	display: flex;
	align-items: center
}
#joinform02 p{
	float: left;
	font-size:14px;
	padding: 0 5px;
}
#joinform02 button {
	font-size: 16px;
	width: 180px;
	height: 50px;
    background: linear-gradient(to bottom, rgb(210, 210, 210), rgb(253, 253, 253) );
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: block;
	margin: 45px auto;
	border: none;
}
#joinform02 button:hover {
    background: linear-gradient(to bottom, rgb(200, 200, 200), rgb(243, 243, 243));
    cursor: pointer;
}

#joinform02 input[type="radio"] {
	accent-color: rgb(134, 134, 134);
	color: white;
}

/* ==================================================================================================== */
/*                          loginform 스타일                                                              */
/* ==================================================================================================== */
#loginform_box{
	width: 322px;
	height: 325px;
	border-radius: 5px;
	border: 1px solid #E0E0E0;
	margin: 200px auto 150px auto;
	padding: 0 30px;
}

#loginform #loginform_box h2{
	font-size: 24px;
	text-align: center;
	padding: 35px 0 30px 0;
}
#loginform input{
	padding: 10px 15px;
	width: 290px;
	height: 17px;
	font-size: 13px;
	border-radius: 3px;
	border: 1px solid rgb(196, 196, 196);
	margin-top: 5px;
}
#loginform #loginform_checkbox{
	width: 322px;
	height: 40px;
	display: flex;
    align-items: center;
}
#loginform #loginform_checkbox input{
	width: 13px;
	height: 13px;
	margin: 0;
}
#loginform #loginform_checkbox p{
	font-size: 13px;
	padding-left: 7px;
}
#loginform button {
	font-size: 16px;
	width: 322px;
	height: 39px;
    background: linear-gradient(to bottom, rgb(210, 210, 210), rgb(253, 253, 253) );
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: block;
    border: none;
}
#loginform button:hover {
    background: linear-gradient(to bottom, rgb(200, 200, 200), rgb(243, 243, 243));
    cursor: pointer;
}
#loginform #loginform_bottom{
	width: 322px;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#loginform #loginform_bottom a{
	font-size: 13px;
}

#loginform input[type="checkbox"] {
	accent-color: rgb(134, 134, 134);
	color: white;
}




/*=========================================================================*/
/* chaehee */
/*=========================================================================*/


#mmm{margin: 200px auto 110px auto;}
.my_container{
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* 마이페이지 */
.my_container .profile, .select, .box, .more{

  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
}
.my_container .profile, #box1{
  background-color: #eee;
  border-radius: 10px;
}
.my_container .select, .more {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;;
}
.my_container .box{
  padding-left: 0;
  padding-right: 0;
}
.my_container #box1{
  width: 100%;
  height: 150px;
  background-color: #eee;
  margin: 10px 0;
  padding-top: 10px;
}
.my_container #box1 .con{ padding: 10px; height: 80px;}

.my_container .profile {
	
  height: 400px;
  display: flex; /* flex container로 만듦 */
  flex-direction: row;
  justify-content: space-around;
  align-items: center; /* 세로 중앙 정렬 */
  position: relative; /* 부모 기준으로 자식 요소를 배치하기 위해 필요 */

}

.my_container .profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
}

.my_container .profile button {
  border: none;
  padding: 8px;
  color: black;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
}
.my_container .profile #modify{
  position: absolute; /* 절대 위치로 설정 */
  top: 20px;
  right: 50px;
  border-right: solid 0.5px #eee;
}
.my_container .profile #modify2{
  position: absolute;
  top: 20px; 
  right: 20px; 
}
.my_container .profile #my_an{  

  display: flex;
  flex-direction: column;
  margin-left: 0px; /* 이미지 우측 여백 설정 */
  margin-right: 100px;
}
.my_container .select{margin-top: 20px; padding: 15px;}
.my_container .select a, .box .like a {
  text-decoration: none;
  color: #333;
  border-right: 1.5px solid #ccc; 
  padding: 0 30px;
}
.my_container .select a:last-child , .box .like a:last-child {
  border: none;
}
.my_container .select a:active{font-weight: 900;}
.my_container .box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.my_container .box > div {
  flex: 0 0 calc(50% - 10px);
  margin-bottom: 20px; /* 각 박스 사이의 간격 조절 */
}

/* 프로필 수정 */
.my_container #profileForm img{margin: 20px;}
.my_container #my_p{border: 0.5px solid #eee;}
.my_container #my_p hr{border: 0.5px solid #eee;}
.my_container #my_p p{margin: 20px;}
.my_container #my_p label{margin-top: 5px;}
.my_container #my_p button{background-color: #eee; margin: 10px;} 
.my_container .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0; top: 0;
  width: 100%; height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.my_container .modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  max-width: 400px; /* 최대 너비 지정 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
}
.my_container .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.my_container .close:hover,
.my_container .close:focus {
  cursor: pointer;
}


/* 찜리스트 */
.my_container #wish{
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border-bottom: 1px solid #eee;
  text-align: right;
  font-size: 15px;
}
.my_container #wish i{margin: 10px;}
.my_container #wish h1{text-align: left; margin:10px}
.my_container #wish a:last-child{border: none;}
.my_container .box2 img{width: 100%; height: 300px;}
.my_container #tt{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 150px 0 70px 0;
}
.my_container #tt .box2{
  width: 100%;
  flex: 0 0 calc(40% - 10px); /* 2행 2열로 설정 */
  margin: 19px;
  text-align: center;
  line-height:  50px;
  background-color : rgb(245 245 245);
  border-radius: 10px;
}
.my_container #tt .box2 #b{
  border: 0.5px dashed white;
  }
.my_container #tt .box2 a{
	color: black; 
	margin: 0 20px 0 20px;
	}
.my_container .box2 hr {
  border: 0.5px solid white;
}
.my_container #more2{
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  background-color : rgb(245 245 245);
  text-align: center;
}
.my_container .select2 a{
  border-right: 1.5px solid #ccc; 
  text-decoration: none;
  padding: 0 15px;
}
.my_container .select2 a:last-child{border: none;}
.my_container #wish a{
  border-right: 1.5px solid #ccc; 
  text-decoration: none;
  padding: 0 15px;
}


/* 계정설정 스타일 */
.my_container ul li{list-style: none;}
.my_container a{text-decoration: none;}
.my_container #memberlist h2{margin: 20px;}
.my_container #join{width: 80%; margin: 20px auto;}
.my_container #join form{margin: 20px auto;}
.my_container form ul li{margin: 20px;}
.my_container form .button{margin-top: 16px;}
.my_container form .button button{
    margin: 20px;
    padding: 5px;
    float: right;
    background-color: rgb(88, 88, 255); 
    color: white;
    font-size: 15px;
    border-radius: 5px;
}
.my_container #memberlist2{width: 370px; height: 350px; border: solid 1px #eee;}
.my_container #fd a{
  font-size: 15px;
  color: #333;
  float: left;
  margin: 20px;
  padding: 5px;
  text-decoration:underline;
}
.my_container form label{width: 120px; float: left; padding-left: 15px; text-align: left;}
.my_container form input{padding: 5px;}
.my_container .ch input{margin: 5px;}


/* 모바일 버전 */
@media screen and (max-width: 850px) {
  .my_container .box > div {
    flex: 0 0 calc(100% - 0px); /* 4행 1열로 변경 */
  }
  .my_container #tt .box2 {
    flex: 0 0 calc(100% - 0px); /* 4행 1열로 변경 */
  }
  .my_container #wish, #more2{width: 100%;}
  .my_container .modal-content {
    width: 80%;
  }
  .my_container .profile {
    height: 400px;
    flex-direction: column; /* 세로 배치로 변경 */
    align-items: center; /* 가운데 정렬 */
  }

  .my_container .profile #my_an {
    width: 80%;
    margin: 0 0 30px 0;
  }
}
/* 데스크탑 */
@media screen and (min-width: 1440px) {
	.my_container{
		width: 1100px;
	}
}
@media screen and (min-width: 850px) {
	.my_container .profile img{
		width: 300px;
		height: 300px;
	}
}





   
/* jihun */

table {
  border-collapse: collapse;
  width: 100%;
}

section.notice {
  padding: 80px 0;
  width: 100%;
  
}

.board-title {
  margin-bottom: 10px;
  text-align: left;
}

.board-title h3 {
  height: 20px;
  margin: 50px 0px;
  font-size: 33px;
  font-weight: 400;
  text-align: left;
  color: #333; /* 제목 색상 추가 */
}

.board-title p {
  color: #ccc;
  margin: 20px 0px;
  border-bottom: 1px solid black;
  padding: 10px 0;
}

.board-table {
  font-size: 15px;
  
}

.medal1 {
  background-color: #f1efef;
  border-left: 3px solid #d1cccc;
  border-right: 3px solid #d1cccc;
  border-top: 3px solid #d1cccc;
}
.medal2 {
  background-color: #f1efef;
  border-left: 3px solid #d1cccc;
  border-right: 3px solid #d1cccc;
}
.medal3 {
  background-color: #f1efef;
  border-left: 3px solid #d1cccc;
  border-right: 3px solid #d1cccc;
  border-bottom: 3px solid #d1cccc;
}


.board-table td {
  border-bottom: 1px solid #ccc;
}

.board-table .th-num {
  width: 40px;
}

.board-table .th-title {
  width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* 긴 제목에 대한 처리 */
}

.board-table .th-id {
  width: 150px;
}

.board-table .th-date {
  width: 150px;
}

.board-table .th-hit {
  width: 100px;
}

.board-table th,
.board-table td {
  padding: 12px 0;
  text-align: center;
}



.board {
  width: 1100px;
  margin: 0 auto;
}

.blind {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
}






/* 검색 */
.search-container {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #e4d7d7;
  border-radius: 20px;
  overflow: hidden;
  background: linear-gradient(to bottom, rgb(210, 210, 210), rgb(253, 253, 253) );
  height: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#search-input {
  padding: 0px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 20px 0 0 20px;
  background: linear-gradient(to bottom, rgb(210, 210, 210), rgb(253, 253, 253) );
  
}

#search-select {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  outline: none;
  background: linear-gradient(to bottom, rgb(210, 210, 210), rgb(253, 253, 253) );
  border-radius: 0 20px 20px 0;
}

#search-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  align-items: center;
  background: linear-gradient(to bottom, rgb(210, 210, 210), rgb(253, 253, 253) );
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#write{
  padding: 0 20px;
  font-size: 16px;
  border-radius: 20px;
  margin-left: 100px;
  cursor: pointer;
  height: 32px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: linear-gradient(to bottom, rgb(210, 210, 210), rgb(253, 253, 253) );
}







@media screen and (max-width: 780px) {
  .board {
    width: 600px;
    margin: 0 auto;
  }

  .search-container {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
  }

  #write {
    padding: 0 20px;
    font-size: 16px;
    background: linear-gradient(to bottom, rgb(210, 210, 210), rgb(253, 253, 253) );
    border-radius: 20px;
    margin-left: 30px;
    cursor: pointer;
    height: 32px;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
}





/*sanghyun*/



.mainBoard, .replyUpdateForm, #writeform{width: 800px; margin: 0 auto;}
section#writeform, #replyUpdate{
  padding: 80px 0;
}
#bottomlist{height:100px; margin:10px auto; text-align: center; margin-top: -80px}
.pagination{margin: 10px;}

.boardName{margin: 5px;}

.board1 {
  width: 950px;
}

.board2{
	width: 805px;
	margin: 0 auto;
}


hr{margin: 10px;}

.boardViewForm{width: 860px; padding: 30px; border: 1px solid #cdcdcd; margin: 0 auto;}
.btitle{
  width: 800px; height: 34px; margin: 0 auto; margin-bottom: 10px;
  font-size: 30px; font-weight: bold;
}
.boardInfo{color: #919191;}

.upper{width: 800px; margin: 0 auto;}
.thumb{background-color: pink; border-radius: 50%; width:36px; height:36px; float: left; margin-right: 5px;}
.nickname1{font-size: 13px; font-weight: bold;}
.update{font-size: 12px; color: #979797;}
.etc{text-align: right; font-size:13px;}
.content{width: 800px; margin: 20px auto;}
.right{text-align: right; color:#979797; }

.crud{text-align: center;}
#DR{margin: 0px 2.5px ;padding: 2px ; border-radius: 50%; float: right;}

.under{width: 800px; margin: 0 auto;}
.nickname2{font-size: 13px; font-weight: bold; line-height: 3;}
.likeReply{font-size: 13px; }



.reply{width: 800px; margin: 0 auto;}
.replyer{font-size: 13px;  font-weight: bold; padding-top: 7px;}
.rcontent{font-size: 13px;}
.rdate{font-size: 12px; color: #9f9f9f;}
.reThumb{background-color: rgb(192, 219, 255); border-radius: 50%; width:20px; height:20px; float: left; margin: 5px 3px;}
.rtitle{font-size: 17px; margin-left: 30px;}

#replyform {margin-left: 50px; margin-top: 10px;}
#replyform textarea{width: 750px; padding: 5px; height: 100px; resize: none;}
.replylogin{background-color: #eee; margin: 10px 0; padding: 16px; text-align: center;}
.replylogin a{color: blue;}
.replylogin a:hover{text-decoration: underline;}
.replyUpdateForm .replyUpdateForm2{margin: 0 auto;}
.replycontent{padding: 5px; resize: none;}

#writeTitle{padding : 5px; width: 500px; margin-bottom: 10px;}
#writeContent{padding: 5px; width: 800px; height: 500px; resize: none;}


.file{
  padding: 10px 20px;
  font-size: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: linear-gradient(to bottom, rgb(210, 210, 210), rgb(253, 253, 253) );;
  border-radius: 20px;
}
.writeBot{text-align: center;}
.writebtn{
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: linear-gradient(to bottom, rgb(210, 210, 210), rgb(253, 253, 253) );
}

.file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e4d7d7;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.file-label:hover {
    background-color: rgb(180, 138, 137);
}

.file-input {
    display: none;
}

.boardviewimage{width: 800px; }



/* 반응형 */
@media screen and (max-width: 780px) {
	
  .boardViewForm{width: 550px;}
  #replyform textarea{width: 450px;}
  
  #writeContent{width: 500px;}
  .boardviewimage{width: 548px; }
}
