@charset "EUC-KR";

/* 국내 여행 메인페이지 */

@charset "UTF-8";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 공통 스타일 */
*{margin: 0; padding: 0; font-family: NanumSquareRound; position: relative;}
ul li{list-style: none;}
a{text-decoration: none; color: black;}

/* 국내 여행 - 메인 (내용 - 전체css) */
section{height: 2800px;}

/* 검색창 부분 */
#mainPicture{width: 100%; height: 500px; position: relative;}
#mainPicture img{width: 100%; height: 100%; position: absolute;}
#mainPicture .searchTravel{background-color: hsl(0, 0%, 80%, 0.7); filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25)); 
  position: absolute; left: 20%; top: 30%; width: 60%; height: 300px;}
#mainPicture .searchTravel h3{color: #212020; font-size: 45px; text-align: center;
  width: 100%; margin: 0 auto; position: absolute; top: 65px;}
#mainPicture .searchWord{width: 100%; margin: 0 auto; text-align: center;
  position: absolute; top: 180px;} 
#mainPicture .searchWord label{position: relative;}
#mainPicture .searchWord input[type="text"]{background: linear-gradient(to bottom, rgb(210, 210, 210), rgb(253, 253, 253) ); 
  padding: 10px; font-size: 1vw; filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25)); 
  border: none; border-radius: 20px; position: relative;}
#mainPicture .searchWord button{background: none; border: none; 
  position: absolute; right: 5%; top: 4px; cursor: pointer;} 

/* 도시 클릭 */
#searchCity{background-color:#d0cfcf;
  width: 100%; height: 500px;
  z-index: 1; position: relative;}
.searchCityBox{background-color: rgb(228, 227, 227); filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25)); position: relative;
  margin: 0 auto; width: 86%; height: 400px;
  position: absolute; left: 7%; top: 50px; 
  /* height: calc(65vh - 230px); */}
.searchCityBox p{width: 100%; margin: 0 auto; text-align: center; 
  position: absolute; top: 15%; font-size: 3vw;}
.searchCityBox table{width:90%; border-collapse: collapse; border: 1px solid dimgray; margin: 0 5%; 
  position: absolute; top: 40%; height: calc(40vh - 250px); background-color: whitesmoke;}
.searchCityBox table tr{border-bottom: 1px solid dimgray;}
.searchCityBox table tr td{border-bottom: 1px solid dimgray; text-align: center; 
  width: 200px; padding: 1% 0.5%; font-size: 17px; color: #707070;}
.searchCityBox table tr:nth-of-type(1) td:nth-of-type(1){border-right: 1px solid dimgray;}
/* 도시 선택 -> 드롭다운 목록 */
.dropdown{position : relative; display : inline-block;}
.dropbtn_icon{font-family : 'Material Icons';}
.dropbtn{display : block; border: none; background: none;
  color : #707070; text-align: left;
  padding : 12px 0; width : 90px; 
  position : relative; cursor : pointer; z-index :100;}
#dropbtn, #dropbtn2{width : 80px;}
.dropbtn_content p{width: 70px; font-size: 17px;}
.dropdown-content{display : none; background-color: whitesmoke;
  min-width : 50px; height : 160px; overflow : scroll;
  box-shadow: 0px 0px 10px 3px rgba(190, 190, 190, 0.6);}
.dropdown-content a{text-decoration: none;}
.dropdown-content::-webkit-scrollbar{width : 5px; height : 10px;}
.dropdown-content::-webkit-scrollbar-thumb{border-radius : 2px;
  background-color :rgb(194, 194, 194)}
.dropdown-content div{display : block;
  text-decoration : none; padding : 12px 20px;
  color : rgb(37, 37, 37); font-size: 13px;}
.dropdown-content div:hover{background-color: rgb(201, 199, 199);}
.dropdown-content.show{display : block;}

/* 요즘 많이 찾는 지역 */
#visitCity{width: 100%; height: 370px;}
#visitCity p{font-size: 40px; color: #212020; padding: 20px 0 20px 20px;}
/* 1260px ≥ : 4개 */
/* 1260px ≤  ≤ 945px : 3개 */
/* 945px ≤ : 2개 */
#visitCity_image{display: flex; justify-content: space-evenly; flex-wrap: wrap;}
#visitCity_image .image_datail p{position: absolute; top: 65px; left: 60px; text-align: center; display: none; line-height: 1.5; 
  color: rgb(255, 255, 255); text-shadow: 4px 4px 6px rgb(79, 79, 79);}
#visitCity_image .image_datail p a{color: rgb(255, 255, 255); text-shadow: 4px 4px 6px rgb(79, 79, 79);}
#visitCity_image .image_datail:hover p{display: block; opacity: 1;}
#visitCity_image .image_datail:hover{opacity: 0.5;}

/* 요즘 인기 있는 공간 */
#popularCity{width: 100%; height: 600px;}
#popularCity p{font-size: 40px; color: #212020; padding: 20px 0 20px 20px;}

.rollingbanner{width: 100%; height: 500px; display: flex;}
.rollingbanner > .slide{position: relative; width: 100%; height: 500px; overflow: hidden; display: flex;}
.roller{width: 2000px; height: 100%; margin: 0; padding: 0;}
.roller > ul{height: 100%; display: flex;
  margin: 0; padding: 0; list-style: none; flex-flow: row nowrap;}
.roller .slide_image img{width: 333px;}












/*
#popularCity #slide{overflow: hidden; display: flex; position: relative; width: 100%; height: 500px;}


 #popularCity #slide_image{width: 3330px; height: 100%; margin: 0; padding: 0; 
  display: flex; flex-wrap: nowrap;/*  animation: slideMove 30s linear infinite; }
#popularCity #slide_image img{width: 333px;}

#slide_image.original {
	animation: rollingleft1 33s linear infinite;
}
#slide_image.clone {
	animation: rollingleft2 33s linear infinite;
}

@keyframes rollingleft1 {
	0% { transform: translateX(0); }
	50% { transform: translateX(-100%); }
	50.01% { transform: translateX(100%); }
	100% { transform: translateX(0); }
}

@keyframes rollingleft2 {
	0% { transition: translateX(0); }
	100% { transform: translateX(-200%); }
} */



/* 슬라이드 애니메이션 */
/* @keyframes slideMove {
  0% {transform: translate(0, 0);}
  100%{transform: translate(-50%, 0);}
} */
/* 슬라이드 이미지 개별 CSS */
/* 1/10 (10개 중 첫번째 이미지 CSS) */
/* #slide_image .image1{position: absolute; top: 175px; left: 91.5px;} */
/* 2/10 (10개 중 두번째 이미지 CSS) */
/* #slide_image .image2{position: absolute; top: 175px; left: 424.5px;} */
/* 3/10 (10개 중 세번째 이미지 CSS) */
/* #slide_image .image3{position: absolute; top: 175px; left: 757.5px;} */
/* 4/10 (10개 중 네번째 이미지 CSS) */
/* #slide_image .image4{position: absolute; top: 175px; left: 1090.5px;} */

/* 5/10 (10개 중 다섯번째 이미지 CSS) */
/* #slide_image .image5{position: absolute; top: 175px; left: 1423.5px;} */
/* 6/10 (10개 중 여섯번째 이미지 CSS) */
/* #slide_image .image5{position: absolute; top: 175px; left: 1756.5px;} */
/* 7/10 (10개 중 일곱번째 이미지 CSS) */
/* #slide_image .image5{position: absolute; top: 175px; left: 2089.5px;} */
/* 8/10 (10개 중 여덟번째 이미지 CSS) */
/* #slide_image .image5{position: absolute; top: 175px; left: 2422.5px;} */
/* 9/10 (10개 중 아홉번째 이미지 CSS) */
/* #slide_image .image5{position: absolute; top: 175px; left: 2755.5px;} */
/* 10/10 (10개 중 열번째 이미지 CSS) */
/* #slide_image .image5{position: absolute; top: 175px; right: 91.5px;} */

/* 슬라이드 이미지 공통 CSS */
/* #slide_image .image1, .image2, .image3, .image4, .image5, .image6, .image7, .image8, .image9, .image10{
  width: 150px; height: 150px; background-color: #cbcbcbb0; border-radius: 100%; 
  box-shadow: 2px 2px 5px 2px rgb(136, 136, 136);
  transform: rotate(-20deg); display: none; text-align: center;
}

#slide_image .image1 span,
#slide_image .image2 span,
#slide_image .image3 span,
#slide_image .image4 span{ 
  position: absolute; top: 30px; left: 32px; 
  text-shadow: 2px 2px 3px rgb(126, 126, 126); 
  font-family: 'Arimo', sans-serif; font-size: 25px;
}

#slide_image .image5 span,
#slide_image .image6 span,
#slide_image .image7 span,
#slide_image .image8 span,
#slide_image .image9 span,
#slide_image .image10 span{
  position: absolute; top: 30px; left: 50px;
}

#slide_image #image1:hover ~ .image1,
#slide_image #image2:hover ~ .image2,
#slide_image #image3:hover ~ .image3,
#slide_image #image4:hover ~ .image4
{display: block;}

#slide_image #image5:hover ~ .image5,
#slide_image #image6:hover ~ .image6,
#slide_image #image7:hover ~ .image7,
#slide_image #image8:hover ~ .image8,
#slide_image #image9:hover ~ .image9,
#slide_image #image10:hover ~ .image10{
  display: block;
} */